<section class="flex-column justify-content-center d-flex h-100" (window:resize)="onResize()">
  <div class="d-flex mx-auto">
    <div class="d-flex card_{{i}}" *ngFor="let item of items; let i = index" 
      (click)="onClick(i)" [ngClass]="item['rotate'] ? 'flip-rotate-card' : ''" [class.disabled]="item['alreadyDisplay']" [class.changeColor]="getColorChange()"  >
      <div class="flip-card" [ngStyle]="{'height':style['height'], 'width': style['width']}">
          <div class="flip-card-inner">
            <div class="flip-card-front">
            </div>
            <div class="flip-card-back">
              <img src="{{item['src']}}" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<app-modal-escape #modalEscape route="/autorepetition"></app-modal-escape>