.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  padding: 2px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-rotate-card:not(.disabled) .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #747474;
  color: black;
  cursor: pointer;
}

.disabled .flip-card-front {
  cursor: auto;
}
.disabled.changeColor .flip-card-front{
  background-color: #bbb;
}
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
img{
  width: 100%;
  height: 100%;
}

.selected{
  outline: 4px red solid;
}