:host-context(.homeButton) .mat-stroked-button{
    width: 700px;
    height: 150px;
    font-size: xx-large;
    border: 2px solid black;
}

:host-context(.paramButton) .mat-stroked-button {    
    width: 150px;
    height: 45px;
    font-size: large;
    border: 2px solid black;
}

:host-context(.classicButton) .mat-stroked-button {    
    min-width: 150px;
    width: auto;
    height: 45px;
    font-size: large;
    border: 2px solid black;
}

:host-context(.returnButton) .mat-stroked-button { 
    font-size: 20px;
    position: absolute;
    left: 0;
    border: 2px solid black;
    height: 45px;
    width: 120px;
    border-left: none;
    border-radius: 9px 10px 10px 10px;

    &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: -10px;
        width: 32px;
        height: 32px;
        background: inherit;
        border: inherit;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0px 4px 0px 0px;
        -webkit-border-radius: 1px 7px 5px 0px;
        -moz-border-radius: 0px 4px 0px 0px;
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
    }
}


:host-context(.selectExpButton) .mat-stroked-button {    
    width: 500px;
    height: 70px;
    font-size: x-large;
    border: 2px solid black;
}