.container_card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2px;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #efefef;
  cursor: move;
  margin: 0;
}

.card.empty{
  background-color: #fff;
  border: #fff;
}

.bloc_card {
  margin: 1px;
  background-color: transparent;
  text-align: center;
  position: relative;
}
.placeholder {
  flex: 1 0 5rem;
  background-color: white;
  text-align: center;
  border: 1px;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.img_groupCateg{
  height: 100%;
  width: 100%;
}

.bloc_start_input{
  border: 1px black solid;
  border-radius: 15px;
  padding: 75px 50px;
}

.bloc_btn_record {

  position: absolute;
  bottom: 100px;
}