<section class="container d-flex flex-column align-items-center h-100" *ngIf="!this.displayExperience">
  <div class="d-flex align-items-center bloc_title justify-content-center w-100 mb-5">
    <h1> </h1>
   
    <app-main-button class="returnButton" [name]="'Retour'" routerLink="/groupementcategoriel">
    </app-main-button>
  </div>
  <div class="form-group d-flex flex-column jus w-50 bloc_start_input">
    <label class="mb-4">Nom du participant : </label>
    <input class='form-control mb-5 input_name' type="text" [(ngModel)]="this.nameParticipant">
    <app-main-button class="classicButton mx-auto btn_start"  (click)="setDisplayExperience()" [name]="'Valider'"></app-main-button>

  </div>

  <div class='bloc_btn_record'>
    <app-main-button class="classicButton mx-auto btn_record"  (click)="record.start()" [name]="'Commencer l\'enregistrement'"></app-main-button>
  </div>
</section>

<section *ngIf="this.displayExperience == true" class="d-flex flex-column justify-content-center align-items-center h-100" (window:resize)="onResize()">
  <div class="container_card" cdkDropListGroup>
    <ng-container *ngFor="let item of items;let i=index">
      <div class="bloc_card" [ngStyle]="{'height':style['height'], 'width': style['width']}" cdkDropList
        cdkDropListOrientation="horizontal" [cdkDropListData]="{item:item,index:i}" (cdkDropListDropped)="drop($event)">
        <div class="card" cdkDrag [class.empty]="item === ''" [cdkDragDisabled]="item === ''">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <img *ngIf="item != ''" class='img_groupCateg' src="{{item}}" alt="{{item}}">
        </div>
      </div>
    </ng-container>
  </div>
</section>

<video class="video" height="0" controls style="display: none;"></video>
<app-modal-escape #modalEscape route="/groupementcategoriel" [data]="dataSave" [timer]="timer" [nameParticipant]="this.nameParticipant"></app-modal-escape>